<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="dbMercadoEntities1" connectionString="metadata=res://*/DataModelMercado.csdl|res://*/DataModelMercado.ssdl|res://*/DataModelMercado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=dbMercado;user id=sa;password=tecnologia;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CamadaDados.Properties.Settings.dbMercadoConnectionString"
      connectionString="Data Source=HOME-PC;Initial Catalog=dbMercado;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers></providers>
  </entityFramework>
</configuration>