<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
      <add name="dbMercadoEntities1" connectionString="metadata=res://*/DataModelMercado.csdl|res://*/DataModelMercado.ssdl|res://*/DataModelMercado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=dbMercado;user id=sa;password=tecnologia;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup>      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>